<!--footbox begin-->
<div class="warpbox">
  <div class="bordertop">
    <div class="breadcrumb">当前位置：<a href="/">首页</a> > <span>邮件确认</span></div>
    <div class="register">
      <%= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }, :validate => true, :remote => true) do |f| %>
          <%= f.input :email, :label => "用户帐号：", :placeholder => "请输入正确的账户号码", :input_html => {:class => "inp"} %>
          <div class="control-group">
            <label class="control-label">&nbsp;</label>
            <div class="controls">
              <%= f.button :submit, "发送确认账户邮件", :class => "zhmmbtn", :disable_with => "发送中..." %>
            </div>
          </div>
      <% end %>
    </div>

  </div>
</div>
<div class="footbox_border"></div>
<!--footbox begin-->


<h2>Resend confirmation instructions</h2>

<%= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, :required => true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Resend confirmation instructions" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
