- type ||= resource_class
- path = "/admin/#{current_resource_name.pluralize}/order?t=#{type}&"
- id ||= "banners_list"
:javascript
  $(function(){
    $("##{id}").sortable({
      start:function(){$("##{id}").sortable("disable");},
      stop:function(event, ui){
        params = $("##{id}").sortable("serialize")
        $.post( "#{path}" + params )
        $("##{id}").sortable("enable");
      }
    });
  })

