<div class="breadcrumb breadcrumb2">
	当前位置：<a href="#">首页</a> > <span>清单学院<%= @exam.level_text %>在线测评</span>
</div>
<div class="warpbox">
  <div class="bordertop">
    <div class="testbody">
      <div class="title">
        <div class="title_left left"><%= @exam.level_text %>专业测试<span class="title-text">（本测试共有<span style="color:#F00; font-weight:bold;"><%= @questions.size %></span>道题，选择您认为正确的答案）</span></div>
          <div class="title_right right" style='width:250px'>
            倒计时：
            <strong style="color:#2891c6;">
            <span id='remainTime'></span>
          </strong>
          </div>
      </div>
	  <%= render "questions" %>
    </div>
  </div>
</div>
<div class="footbox_border"></div>
<div id='div99'></div>
<div class='timeout_info' id='timeout_info' style='text-align:center;padding-top:30px'>
  时间到，系统自动提交
</div>
<%= render "countdown" ,:spare_time=> @exam.spare_exam_time %>


