<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=7" />
  <meta name="keywords" content="广联达清单学院,清单学院,一战到底,清单知识进阶,造价法规,清单计价规范" />
  <meta name="description" content="广联达清单学院,清单学院,一战到底,清单知识进阶,造价法规,清单计价规范"/>
  <title>清单学院</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script>
      <% if flash[:notice].present? %>
      alert('<%= flash[:notice] %>');
      <% end %>
  </script>
</head>
<%= resource.errors.messages.to_s if Rails.env.development? and  resource ||= resource and resource.present? and resource.errors.present? %>
<style>
    .fixbox
    {
        position: fixed;
        _position: absolute;
        right: 0px;
        top: 220px;
        z-index: 100;
    }
    * html .fixbox /* IE6 */
    {
        position: absolute;
        bottom: auto;
        top: expression(eval(document.documentElement.scrollTop+280));
    }
</style>

<div class="fixbox" style="width:170px;height:187px;">
  <a href="http://shop.glodon.com" target="_blank"><img src="/assets/images/shop_ads.jpg" width="100%" height="100%"/></a>
</div>
<body class="<%= params[:controller] == "home" ? '' : 'testbj' %>">
<div class="top">
  <% if current_user %>
      <span><strong><%=link_to current_user.username, edit_user_registration_path,:style=>'color:#0f84f0' %></strong> ,欢迎来到新清单学院!</span>
      <%= link_to '退出', '/users/sign_out' %>
  <% else %>
      <%= link_to '登录', "/users/sign_in" %> | <%= link_to '注册', new_user_registration_path %>
  <% end %>
</div>

<% if params[:controller] == "home" %>
    <!--top begin-->
    <div class="tb1"><div class="tbc"></div> </div>
    <div class="tb2"><div class="tbc"></div> </div>
    <div class="tb3"><div class="tbc"></div> </div>
    <div class="tb4"><div class="tbc"></div> </div>
    <div class="tb5"><div class="tbc"></div> </div>
    <div class="tb6"><div class="tbc"></div> </div>
    <!--top end-->
<% else %>
    <!--testtop begin-->
    <div class="top_bj1"><div class="tbc"></div> </div>
    <div class="top_bj2"><div class="tbc"></div> </div>
    <!--testtop end-->
<% end %>
<!--wrap begin-->
<div id="wrap">
  <!--nav begin-->
  <ul class="nav">
    <li><a href="/" class="nav1 <%= params[:controller] == "home" ? "ah1" : "" %>"><span>首页</span></a></li>
    <li><a href="/beginners" class="nav2  <%= params[:controller] == "beginners" ? "ah2" : "" %>"><span>初级课堂</span></a></li>
    <li><a href="/mediates" class="nav3 <%= params[:controller] == "mediates" ? "ah3" : "" %>"><span>中级课堂</span></a></li>
    <li><a href="/advanceds" class="nav4 <%= params[:controller] == "advanceds" ? "ah4" : "" %>"><span>高级课堂</span></a></li>
    <li><a href="<%= home_fight_exams_path %>" class="nav5" target="_blank"><span>一战到底</span></a></li>
    <li><a href="/lecturers" class="nav7 <%= params[:controller] == "lecturers" ? "ah7" : "" %>"><span>讲师介绍</span></a></li>
    <li><a href="/games" class="nav6 <%= params[:controller] == "games" ? "ah6" : "" %>"><span>获奖名单</span></a></li>
    <li class="nobj"><a href="/schools" class="nav8 <%= params[:controller] == "schools" ? "ah8" : "" %>"><span>测评排名</span></a></li>
    <!--<a href="http://webscan.360.cn/index/checkwebsite/url/qdxy-pre.glodon.com"><img border="0" src="http://img.webscan.360.cn/status/pai/hash/be35f5ce82f1b9c632484de47fd0533d"/></a>-->
  </ul>
  <%= yield %>

</div>
<!--wrap end-->
<div class="clear"></div>
<!--footer begin-->
<%= render "footer" %>
<!--footer end-->
</body>
</html>
